body{
    height: 1920px;
    width: 1080px;
    background: url("../image/background.jpg") no-repeat;
    margin: 0px;
}

.qr-code{
    position: absolute;
    left:332px;
    top:767px;
    height: 416px;
    width: 416px;
    z-index: 10;
}

.qr-code-desc{
    position: absolute;
    left:393px;
    top:1205px;
    height: 80px;
    width: 294px;
    z-index: 10;
    background: url("../image/qrdesc.png") no-repeat;
}

.qr-code-rescan{
    position: absolute;
    left:282px;
    top:294px;
    height: 170px;
    width: 515px;
    z-index: 20;
    background: url("../image/scanned.png") no-repeat;
}

.char-x{
    position: absolute;
    left:255px;
    top:294px;
    height: 300px;
    width: 570px;
    z-index: 10;
}

.char-fu-center{
    position: absolute;
    left:332px;
    top:767px;
    height: 416px;
    width: 416px;
    background: url("../image/fu.png");
    z-index: 10;

}
.char-x-desc{
    position: absolute;
    left:230px;
    top:756px;
    height: 367px;
    width: 620px;
    z-index: 10;
    background: url("../image/0xdesc.png");
    z-index: 10;
}

.char-x-0{
    background: url("../image/0x.png");
    z-index: 10;
}
.char-x-1{
    background: url("../image/1x.png");
    z-index: 10;
}
.char-x-2{
    background: url("../image/2x.png");
    z-index: 10;
}
.char-x-3{
    background: url("../image/3x.png");
    z-index: 10;
}
.char-x-4{
    background: url("../image/4x.png");
    z-index: 10;
}
.char-x-5{
    background: url("../image/5x.png");
    z-index: 10;
}

.char-1{
    position: absolute;
    display: none;
    left:81px;
    top:67px;
    height: 108px;
    width: 108px;
    background: url("../image/1.png");
    z-index: 10;
}
.char-2{
    position: absolute;
    display: none;
    left:286px;
    top:67px;
    height: 108px;
    width: 108px;
    background: url("../image/2.png");
    z-index: 10;
}
.char-3{
    position: absolute;
    display: none;
    left:491px;
    top:67px;
    height: 108px;
    width: 108px;
    background: url("../image/3.png");
    z-index: 10;
}
.char-4{
    position: absolute;
    display: none;
    left:696px;
    top:67px;
    height: 108px;
    width: 108px;
    background: url("../image/4.png");
    z-index: 10;
}
.char-5{
    position: absolute;
    display: none;
    left:901px;
    top:67px;
    height: 108px;
    width: 108px;
    background: url("../image/5.png");
    z-index: 10;
}