<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Mobility</title>
    <link rel="stylesheet" href="/css/reward.css"/>
    <link rel="shortcut icon" href="image/nav-logo.png" type="image/x-icon"/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/reward.js"></script>

</head>
<body>

<div class="reward-available"></div>
<div class="reward-info"></div>

<div class="reward-sent"></div>

</body>
</html>